<form method="post" action="{$url}" id="form-set" class="form-horizontal" role="form" style="min-height: 120px">
    <input type="hidden" name="token" value="{$_W['token']}" />
    <table class="table table-hover">
        <thead class="navbar-inner">
        <tr>
            <th style="width: 200px">书签名称</th>
            <th style="width: 280px">对应数据</th>
        </tr>
        </thead>
        <tbody id="re-items">
        {loop $map $k $v}
        <tr>
            <td><input class="form-control" value="{$k}"  type="text" readonly="readonly"></td>
            <td>
                <select name="map[{$k}]" class="form-control">
                    {loop $fields $f}
                    <option value="{$f}"{if $f == $v} selected="selected"{/if}>{$f}</option>
                    {/loop}
                </select>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>
</form>

