{template 'common/header-project'}
<style>
    .account-basicinformation span{font-weight:700;}
    .account-stat-num > div{width:25%; float:left; font-size:16px; text-align:center;}
    .account-stat-num > div span{display:block; font-size:30px; font-weight:bold;}
</style>
<div class="main">
    <form action="" method="post"  class="form-horizontal" role="form" enctype="multipart/form-data" id="form1">
        <div class="panel panel-default">
            <div class="panel-heading">
                认筹单基本信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-2 control-label text-right">二维码</label>
                    <div class="col-sm-5">
                        <label class="control-label" >{$chips['qrcode']}</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label text-right">客户名称</label>
                    <div class="col-sm-3">
                        <label class="control-label" >{$user_info['CstName']}</label>
                    </div>
                    <label class="col-sm-2 control-label text-right">{$user_info['CardType']}</label>
                    <div class="col-sm-4">
                        <label class="control-label" >{$user_info['CardID']}</label>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                房间信息
            </div>
            <div class ="panel-body">
                <div class = "row">
                    <label class = "col-sm-2 control-lable text-right" >房号</label>
                    <div class = "col-sm-3">
                        <p>{$chips['roomcode']}</p>
                    </div>
                    <label class = "col-sm-2 control-lable text-right" >房间状态</label>
                    <div class = "col-sm-3">
                        <p>{if $chips['roomstatus']==1}已选房{/if}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                供款明细信息{if !empty($chips['ProtocolNO'])}（认购书编号：{$chips['ProtocolNO']},认购书生成时间：{php echo date('Y-m-d',$chips['QSDate'])}）{/if}
            </div>
            <div class ="panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width: 20px;">序号</th>
                        <th style="width:120px;">付款期限</th>
                        <th style="width:140px;">款项类型</th>
                        <th style="width:140px;">款项名称</th>
                        <th style="width:140px;">金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
                        <td>{$item['Sequence']}</td>
                        <td>{$item['lastDate']}</td>
                        <td>{$item['ItemType']}</td>
                        <td>{$item['ItemName']}</td>
                        <td>{$item['Amount']}</td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="btn-group btn-group-justified">
<!--            <div class="btn-group">
                <input type="hidden" name="token" value="{$_W['token']}" />
                <input type="submit" class="btn btn-success" name="submit" value="确认" />
            </div>-->
            <div class="btn-group">
                <a data-id="{$chips['id']}" title="打印" class="btn btn-success btn-md print" ><i class="fa fa-print" >打印</i></a>
            </div>

            <div class="btn-group">
                <a  class="btn btn-warning" href="{php echo $this->createWebUrl($do);}">返回</a>
            </div>
        </div>
    </form>
</div>
<div id="footer-group" class="hide">
    <span name="submit" id="submit" class="btn btn-primary" onclick="$('#form-print').submit();">打印</span>
    <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
</div>
<script>
    require(['bootstrap', 'util'],function($, u){
        $('.print').click(function(){
            id= $(this).attr('data-id');
            $.get("{php echo $this->createWebUrl($do,array('op'=>'print'));}"+'&id='+id  , function(data){
            var obj = u.dialog('打印设置', data, $('#footer-group').html());
            obj.modal('show');
        });
        });
    })
</script>
{template 'common/footer'}