{template 'common/header-project'}
<div class="main">
    <ul class="nav nav-tabs">
        <li {if $op=='qrcode'}class="active"{/if}><a href="{php echo $this->createWebUrl('lucky', array('op' => 'qrcode'));}">签到确认</a></li>
        <li {if $op=='query'}class="active"{/if}><a href="{php echo $this->createWebUrl('lucky' , array('op' => 'query'));}">查询签到</a></li>
    </ul>

    <div class="panel panel-info">
        <div class="panel-heading">
            <span>签到确认</span>
        </div>
        <div class="panel-body"  >
                <div class="row">
                {if $op=='qrcode'}
                    <div class="form-horizontal">
                    <label class=" col-sm-1 control-label">认筹单</label>
                    <div class="col-sm-6">
                        <input class="form-control" name="keyword" id="keyword" type="text" value="">
                    </div>
                    <div class="col-md-1 " >
                        <a class="btn btn-primary"  value="pay" id="btn-Search" >
                            <i class="fa fa-search"></i>查询</a>
                    </div>
                    </div>
                    {else}
                    <form action="" method="post" class="form-horizontal" role="form" id="formadd">
                        <input type="hidden" name="token" value="{$_W['token']}" />      
                    <div class="col-sm-4">
                        <div  class="input-group">

                        <select name="query" class="form-control">
                            <option value="0" {if $_GPC['query']==0}selected{/if}>客户名称</option>
                            <option value="1" {if $_GPC['query']==1}selected{/if}>证件号码</option>
                            <option value="2" {if $_GPC['query']==2}selected{/if}>电话号码</option>
                        </select>
                    
                        <span class="input-group-addon">=</span>
                        <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
                        </div>
                    </div>
            
                    <label class=" col-sm-1 control-label">签到</label>
                    <div class="col-sm-2">
                        <span class="input-group-btn">
                        <select name="signed" class="form-control">
                            <option value="-1" {if $signed == -1}selected{/if}>所有</option>
                            <option value="0" {if $signed == 0}selected{/if}>未签到</option>
                            <option value="1" {if $signed == 1}selected{/if}>已签到</option>
                        </select>
                       <span>
                           
                    </div>
                    <label class=" col-sm-1 control-label">中签</label>
                    <div class="col-sm-2">
                        <select name="lucky" class="form-control">
                            <option value="-1" {if $lucky== -1}selected{/if}>所有</option>
                            <option value="0" {if $lucky== 0}selected{/if}>未中签</option>
                            <option value="1" {if $lucky== 1}selected{/if}>已中签</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" name="submit" type="submit" value="query"><i class="fa fa-search"></i>搜索</button>
                    </div>
                    <div class="col-md-1">
                        <button  class="btn btn-primary" value="导出" name="submit"><i class="fa fa-inbox"></i>导出</button>
                    </div>
            </form>
                {/if}
                </div>
           
        </div>

        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
                <th style="min-width:200px;">身份信息</th>
                <!--<th style="width:120px;">房间信息</th>-->
                <th style="width:120px;">意向信息</th>
                <th style="width:120px;">具体意向</th>
                <th style="width:140px;">代理信息</th>
                <!--<th style="width:110px;">附属权益人</th>-->
                <th style="width:150px;">诚意金</th>
                <!--<th style="width:70px;">状态</th>-->
               <!-- <th style="width:100px;">交款时间</th>-->
                <th style="width:180px;">签到状态</th>
                <th style="width:180px;">中签状态</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr>
                <td>{$item['cname']}&nbsp;{$item['mobile']}<br/>{$item['cardid']}</td>
                <td>{$item['product']}<br/>{$item['housetype']}</td>
                <td>{php echo str_replace(',','<br>',$item['intendroom']);}</td>
                <td>{$item['agency']}<br/>{$item['salesman']}</td>
                <td>{php echo number_format($item['premoney'],2)}</td>
                <td>{if $item['signed']>0}已签到{else}未签到{/if}</td>
                <td>{if $item['lucky']==1}已中签{else}未中签{/if}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <div class="panel-footer" style="padding-bottom: 1px;">
           {$pager}
        </div>
    </div>
</div>
<div id="footer-group" class="hide">
    <span name="submit" id="submit" class="btn btn-primary" onclick="$('#form-print').submit();">打印</span>
    <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
</div>
<div id="footer-delete" class="hide">
    <span name="submit" id="submit" class="btn btn-primary" onclick="$('#form-delete').submit();">删除</span>
    <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
</div>
<div id="footer-lucky" class="hide">
    <span name="submit" id="submit" class="btn btn-primary" onclick="$('#form-set').submit();">确认</span>
    <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
</div>
<script> 
require(['bootstrap', 'util'],function($, u){
    $('.print').click(function(){
        id= $(this).attr('data-id');
        $.get("{php echo  $this->createWebUrl('print',array('type'=>4));}"+'&id='+id  , function(data){
            var obj = u.dialog('打印设置', data, $('#footer-group').html());
            obj.modal('show');
        });
    });

    $('.delete').click(function(){
        id= $(this).attr('data-id');
        $.get("{php echo  $this->createWebUrl('DelHolder');}"+'&id='+id  , function(data){
            var obj = u.dialog('权益人设置', data, $('#footer-delete').html());
            obj.modal('show');
        });
    });

    $('#btn-Search').click(function(){
        query();
    });

    $('#keyword').focus(function(){
       $(this).val('');
    });
    $('#keyword').focus();

});

function keypress(e)
{
    var e=e||event;
    if(e.keyCode==13){
        setTimeout(query,200);  
    }
}
document.onkeypress=keypress;

function query() {
    require(['bootstrap', 'util'],function($, u) {
        var qrcode = $('#keyword').val();
        $.get("{php echo  $this->createWebUrl($do, array('op' => 'disp'));}" + '&qrcode=' + qrcode, function (data) {
            var obj = u.dialog('中签信息', data, $('#footer-lucky').html());
            obj.modal('show');
        });
    });
}
</script> 
{template 'common/footer'}
